.swiper_bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-size: cover;
  background-position: right top;
  padding: 30px 60px;
}
.heading {
  color: aquamarine;
  font-size: 60px;
  font-weight: 500;
}
.slider1 h1 {
  color: #000;
}
.slider2 h1,
.slider3 h1 {
  color: #fbdd48;
}
.slider2 h1 {
  text-align: right;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #737373;
}