.testimonial {
  background: url("https://placeimg.com/800/200/arch") no-repeat center center;
  background-size: cover;
}
.testimonial .overlay {
  background: #0000009c;
}
.avatar {
  display: inline-block !important;
}
.swiper-wrapper {
  height: 90vh;
}
.container .drawer {
  height: auto;
}
.bestools-modal .modal-box {
  max-width: 56%;
}

/* Bestools Drawer */
.bestools-drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 99;
  background: #f4f4f4fa;
  padding: 20px;
  border-left: 1px solid #d4d4d4;
  transition: 0.5s all;
  transform: translateX(100%);
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}
.bestools-drawer.active {
  transform: translateX(0px);
}
.drawer-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #4848485e;
  z-index: 99;
  display: none;
}

/* Checkout */
.checkout-area .form-control {
  margin-bottom: 10px;
}
.checkout-area form {
  background: #03a9f41c;
  padding: 40px;
  max-width: 580px;
  border-radius: 12px;
}