.testimonial {
  background: url("https://placeimg.com/800/200/arch") no-repeat center center;
  background-size: cover;
}
.testimonial .overlay {
  background: #0000009c;
}
.avatar {
  display: inline-block !important;
}
.swiper-wrapper {
  height: 90vh;
}
.container .drawer {
  height: auto;
}
